main
  section, header, footer
    .container-fluid
      padding-left: 20px
      padding-right: 20px

.button 
  font-size: 16px
  font-weight: 500
  line-height: 110%
  text-decoration: none
  padding: 21px 19px
  transition: all 0.3s ease
  display: inline-block
  text-align: center

.button.icon 
  display: inline-flex
  justify-content: space-between
  align-items: center
  gap: 90px
  
.button.main
  color: rgb(255, 255, 255)
  background: rgb(16, 16, 16)
  border: 1px solid rgb(16, 16, 16)
  &:hover
    background: #414141
    border-color: #414141

.button.main-r
  color: rgb(16, 16, 16)
  background: rgb(255, 255, 255)
  border: 1px solid rgb(255, 255, 255)
  &:hover
    color: rgb(256, 256, 256)
    background: #414141
    border-color: #414141

.button.outline
  color: rgb(16, 16, 16)
  background: none
  border: 1px solid rgb(16, 16, 16)
  &:hover
    background: rgb(16, 16, 16)
    color: rgb(255, 255, 255)

.button.outline-r
  color: rgb(255, 255, 255)
  background: none
  border: 1px solid rgb(255, 255, 255)
  &:hover
    background: rgb(255, 255, 255)
    color: rgb(16, 16, 16)

.button.main.disabled
  pointer-events: none
  color: rgb(255, 255, 255)
  background: rgb(160, 160, 160)
  border: 1px solid rgb(160, 160, 160)

.button.outline.disabled
  pointer-events: none
  border-color: rgb(160, 160, 160)
  color: rgb(160, 160, 160)

.section_title
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 17px
  p
    margin: 0
    color: rgb(119, 119, 119)
    font-size: 16px
    font-weight: 700
    line-height: 110%
    text-transform: uppercase
  a
    text-decoration: none
    color: rgb(16, 16, 16)
    font-size: 16px
    font-weight: 700
    line-height: 110%
    text-transform: uppercase

svg + .section_title
  margin-top: 20px

.send_form
  display: flex
  flex-wrap: wrap
  align-content: flex-start
  gap: 20px 10px
  input
    background: none
    width: calc(50% - 5px)
    border: none
    border-bottom: 1.5px solid rgb(160, 160, 160)
    padding-bottom: 9px
    color: rgb(16, 16, 16)
    font-size: 14px
    font-weight: 400
    line-height: 90%
    &:placeholder
      color: rgb(16, 16, 16)
      font-size: 14px
      font-weight: 400
      line-height: 90%  
  button
    width: 100%


.archive-page
  padding-top: 26px
  padding-bottom: 200px
  h2.title
    color: rgb(16, 16, 16)
    font-size: 30px
    font-weight: 700
    line-height: 100%
    text-transform: uppercase
    margin: 0

.archive-page.news, .single-news-relative
  .news_card
    display: block
    width: 100% !important
    margin-bottom: 40px


.archive-page.reviews
  .item
    width: 80% !important
    margin-bottom: 64px


.breadcrumbs
  margin: 18px 0 58px 0
  a, span
    font-size: 14px
    font-weight: 400
    line-height: 110%
  a
    text-decoration: none
    color: #393939
    transition: all 0.3s ease
    &::after
      content: ' – '
      padding: 0 5px
      color: #393939
    &:hover
      color: #CFCFCF
  span
    color: #CFCFCF


.pagination
  ul
    list-style: none
    padding: 0
    margin: 0
    display: flex
    gap: 10px
    li.disabled
      a
        pointer-events: none
        svg
          path
            stroke: #CFCFCF
    a.current, span.current
      border: 1px solid rgb(16, 16, 16)
      &:hover
        color: rgb(16, 16, 16)
    li.active
      a, span
        border: 1px solid rgb(16, 16, 16)
        &:hover
          color: rgb(16, 16, 16)
    li
      a, span
        display: flex
        justify-content: center
        align-items: center
        padding: 17px 21px
        text-decoration: none
        color: rgb(16, 16, 16)
        font-size: 16px
        font-weight: 500
        line-height: 110%
        transition: all 0.3s ease
        &:hover
          color: #777777


.sticky
  position: fixed
  z-index: 101
  padding: 10px 0

.stop
  position: relative
  z-index: 101


.white-popup-block
  margin: 0 auto
.mfp-container
  padding: 0
  position: fixed !important

.mfp-close
  opacity: 1
  height: auto
  width: auto
  padding: 0
  &:hover
    cursor: pointer

.class_popup
  width: 580px
  background: rgb(255, 255, 255)
  position: relative
  padding: 30px 100px 30px 30px
  .close
    top: 20px
    right: 20px
    position: absolute
    z-index: 9999
  .title
    margin-bottom: 20px
    color: rgb(0, 0, 0)
    font-size: 30px
    font-weight: 700
    line-height: 100%
    text-transform: uppercase
  .subtitle
    margin-bottom: 60px
    color: rgb(0, 0, 0)
    font-size: 16px
    font-weight: 400
    line-height: 110%
  form
    input
      margin-bottom: 30px
      padding-bottom: 20px
    textarea
      resize: none
      height: 75px
    input, textarea
      color: rgb(112, 112, 112)
      font-size: 14px
      font-weight: 400
      line-height: 110%
      border: none
      background: none
      width: 100%
      border-bottom: 1.21px solid rgb(65, 65, 65)
      &:placeholder
        font-size: 14px
        font-weight: 400
        line-height: 110%
    .button
      margin-top: 40px
      margin-bottom: 60px
      width: 100%
    >span
      font-size: 12px
      font-weight: 500
      line-height: 120%
      color: #A0A0A0
      a
        text-decoration: none
        color: #414141


input
  border-radius: 0 
  -webkit-appearance: none
  border-top: none
  border-left: none
  border-right: none

.preloader
  position: fixed
  left: 0
  top: 0
  z-index: 999999
  height: 100vh
  width: 100vw
  background: #FBFBFB
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  gap: 30px
  svg
    width: 150px
    height: auto
    animation: preloader 2s forwards

@keyframes preloader
  0%
    opacity: 0
    transform: translateY(50px)
  100%
    transform: translateY(0px)
    opacity: 1 

.loaded_hiding .preloader
  transition: 0.3s opacity
  opacity: 0

.loaded .preloader
  display: none

.loader-counter
  color: #000000
  font-size: 16px
  line-height: 120%
  display: block
  animation: preloader 2s forwards


.partners_card
  text-decoration: none
  img
    margin-bottom: 20px
    object-fit: cover
    height: 340px
    width: 100%
  .name
    margin-bottom: 10px
    font-size: 18px
    font-weight: 500
    line-height: 120%
    color: #393939
  p
    color: #777777
    font-size: 14px
    font-weight: 400
    line-height: 110%
